<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url('../img/journey1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    border: 1px solid black;
    touch-action: none;
}

</style>