<style >

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background{
	width: 100%;
	height: 100vh;
	background-image: url('../img/mainBackground.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mainIntro {
	position: relative;
	text-align: center;
	top: 20%;
	font-size: 120%;
}

.mainIntro h1 {
	color: #b72a13;
	font-family: "Impact", sans-serif;
	font-weight: 10;
}

.mainIntro p {
	color: #750707;
	font-family: "Impact", sans-serif;
	font-weight: 100;
}

.mainIntro h1 .nickName {
	color: #d84040;
	font-weight: 1000;
}

.mainIntro h1 .realName {
	color: #da9318;
	font-weight: 500;
}

.mainIntro p .gameDev {
	color: #189c97;
	font-weight: 500;
}

.inviteText {
	position: relative;
	text-align: center;
	top: 22%;
	font-size: 110%;
}

.inviteText p {
	color: #750707;
	font-family: "Impact", sans-serif;
	font-weight: 100;
	font-size: 90%;
}

.startButtonContainer {
	position: relative; /* sets a reference for children */
	width: 358px;
	height: 127px;
	<!-- background: lightgray; -->
	background-position: center;
	top: 27%;
	margin: auto;
}

.startButton {
	position: relative;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 358px;
	height: 127px;
}

</style>